<ul>
  <% @events.each do |event|%>
    <li>
      <%= evnet.name %>
      <%= link_to 'Show', :controller => 'events', :action => 'show', :id => event %>
      <%= link_to 'Edit', :controller => 'events', :action => 'edit', :id => event %>
      <%= link_to 'Delete', :controller => 'events', :action => 'destory', :id => event %>
    </li>
  <% end%>
</ul>
<%= link_to 'New Event', :controller => 'events', :action => 'new' %>

